.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 35px;
  text-align: center;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.googleButton {

  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #F44336;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: #43A047;
}

.button:hover,.form button:active,.form button:focus {
  background:#43A047; 
}

.googleButton:hover,.googleButton:active,.googleButton:focus {
  background: #D32F2F;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .register-form {
  display: none;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

body {
  background: #2196F3;
  font-family: "Roboto", sans-serif;     
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4, .col-md-8{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-8 {
    width: 66.66666667%;
  }

.col-md-4 {
    width: 33.33333333%;
  }

@media (min-width: 992px) {
.col-md-4, .col-md-8 {
    float: left;
  }
}

.form-control {
  font-family: "Roboto", sans-serif;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}